body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    background-color: #791717;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.header-left {
    position: absolute;
    left: 20px;
    top: 60px;
    transform: translateY(-50%);
}

.header-left .back-button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #5a1212;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header-left .back-button:hover {
    background-color: #3e0d0d;
}

main {
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #791717;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}